.section-component {
  background-image: url("../public/assets/images/hero-bg.png");
  background-repeat: no-repeat;
  height: 1100px;
  background-size: cover;
  overflow: hidden;

}

.footer {
  @media screen and (max-width: 750px) {
display: none;
   }
}